* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 800px;
  flex-wrap: wrap;
}

.square {
  width: 15px;
  height: 15px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 2.5s ease;
}

.square:hover {
  transition-duration: 0s;
}
